In [1]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [2]:
df = pd.read_csv('C:/Users/seven/OneDrive/바탕 화면/Python Workspace/Python-master/Python for Data analysis/examples/ex1.csv')

In [3]:
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [82]:
pd.read_table("C:/Users/seven/OneDrive/바탕 화면/Python Workspace/Python-master/Python for Data analysis/examples/ex1.csv", sep = ',')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [84]:
pd.read_csv('C:/Users/seven/OneDrive/바탕 화면/Python Workspace/Python-master/Python for Data analysis/examples/ex2.csv', header= None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [85]:
pd.read_csv("C:/Users/seven/OneDrive/바탕 화면/Python Workspace/Python-master/Python for Data analysis/examples/ex2.csv", 
            names = ['a', 'b', 'c', 'd', 'message'])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [86]:
names = ['a', 'b', 'c', 'd', 'message']
pd.read_csv("C:/Users/seven/OneDrive/바탕 화면/Python Workspace/Python-master/Python for Data analysis/examples/ex2.csv", index_col= 'message', names= names)

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [10]:
pd.read_csv("C:/Users/seven/OneDrive/바탕 화면/Python Workspace/Python-master/Python for Data analysis/examples/csv_mindex.csv")

  key1 key2  value1  value2
0  one    a       1       2
1  one    b       3       4
2  one    c       5       6
3  one    d       7       8
4  two    a       9      10
5  two    b      11      12
6  two    c      13      14
7  two    d      15      16

In [87]:
parsed = pd.read_csv("C:/Users/seven/OneDrive/바탕 화면/Python Workspace/Python-master/Python for Data analysis/examples/csv_mindex.csv", index_col=['key1', 'key2'])
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [88]:
list(open('C:/Users/seven/OneDrive/바탕 화면/Python Workspace/Python-master/Python for Data analysis/examples/ex3.txt'))

['            A         B         C\n',
 'aaa -0.264438 -1.026059 -0.619500\n',
 'bbb  0.927272  0.302904 -0.032399\n',
 'ccc -0.264273 -0.386314 -0.217601\n',
 'ddd -0.871858 -0.348382  1.100491\n']

In [89]:
result = pd.read_table("C:/Users/seven/OneDrive/바탕 화면/Python Workspace/Python-master/Python for Data analysis/examples/ex3.txt", sep = '\s+')
result

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [90]:
pd.read_csv('C:/Users/seven/OneDrive/바탕 화면/Python Workspace/Python-master/Python for Data analysis/examples/ex4.csv',
            skiprows=[0, 2, 3])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [91]:
result = pd.read_csv("C:/Users/seven/OneDrive/바탕 화면/Python Workspace/Python-master/Python for Data analysis/examples/ex5.csv")
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [92]:
pd.isnull(result)

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

In [13]:
result = pd.read_csv("C:/Users/seven/OneDrive/바탕 화면/Python Workspace/Python-master/Python for Data analysis/examples/ex5.csv",
                        na_values= ['NULL'])
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [12]:
sentinels = {'message' : ['foo', 'NA'], 'something' : ['two']}
pd.read_csv("C:/Users/seven/OneDrive/바탕 화면/Python Workspace/Python-master/Python for Data analysis/examples/ex5.csv", 
            na_values=sentinels)

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

In [14]:
pd.options.display.max_rows = 10

In [15]:
result = pd.read_csv("C:/Users/seven/OneDrive/바탕 화면/Python Workspace/Python-master/Python for Data analysis/examples/ex6.csv")
result

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [16]:
pd.read_csv("C:/Users/seven/OneDrive/바탕 화면/Python Workspace/Python-master/Python for Data analysis/examples/ex6.csv", nrows= 5)

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

In [17]:
chunker = pd.read_csv("C:/Users/seven/OneDrive/바탕 화면/Python Workspace/Python-master/Python for Data analysis/examples/ex6.csv",                         chunksize= 1000)
chunker

In [18]:
data = pd.read_csv('C:/Users/seven/OneDrive/바탕 화면/Python Workspace/Python-master/Python for Data analysis/examples/ex5.csv')
data

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [19]:
import sys
data.to_csv(sys.stdout, sep = '|')

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

In [20]:
data.to_csv(sys.stdout, na_rep= 'NULL')

,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo

In [21]:
data.to_csv(sys.stdout, index= False, header=False)

one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

In [22]:
data.to_csv(sys.stdout, index=False, columns=['a', 'b','c'])

a,b,c
1,2,3.0
5,6,
9,10,11.0

In [26]:
dates = pd.date_range('1/1/2000', periods=7)
ts = pd.Series(np.arange(7), index=dates)
ts.to_csv('C:/Users/seven/OneDrive/바탕 화면/Python Workspace/Python-master/Python for Data analysis/examples/tseries.csv')

In [24]:
dates

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07'],
              dtype='datetime64[ns]', freq='D')

In [25]:
ts

2000-01-01    0
2000-01-02    1
2000-01-03    2
2000-01-04    3
2000-01-05    4
2000-01-06    5
2000-01-07    6
Freq: D, dtype: int32

In [27]:
pd.read_csv("C:/Users/seven/OneDrive/바탕 화면/Python Workspace/Python-master/Python for Data analysis/examples/tseries.csv")

   Unnamed: 0  0
0  2000-01-01  0
1  2000-01-02  1
2  2000-01-03  2
3  2000-01-04  3
4  2000-01-05  4
5  2000-01-06  5
6  2000-01-07  6

In [2]:
import csv
f = open("C:/Users/seven/OneDrive/바탕 화면/Python Workspace/Python-master/Python for Data analysis/examples/ex7.csv")
reader = csv.reader(f)

In [29]:
for line in reader:
    print(line)

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3']

In [30]:
with open("C:/Users/seven/OneDrive/바탕 화면/Python Workspace/Python-master/Python for Data analysis/examples/ex7.csv") as f:
    lines = list(csv.reader(f))

In [31]:
header, values = lines[0], lines[1:]

In [32]:
lines

[['a', 'b', 'c'], ['1', '2', '3'], ['1', '2', '3']]

In [33]:
data_dict = {h : v for h,v in zip(header, zip(*values))}
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

In [5]:
obj = """
{"name" : "Wes",
"places_lived" : ["United States", "Spain", "Germany"],
"pet" : null,
"siblings" : [{"name" : "Scott", "age" : 30, "pets" : ["Zesus", "Zuko"]},    
                {"name" : "Katie", "age" : 38,
                "pets" : ["Sixes", "Stache", "Cisco"]}]
}
"""

In [6]:
import json
result = json.loads(obj)
result

{'name': 'Wes',
 'places_lived': ['United States', 'Spain', 'Germany'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 30, 'pets': ['Zesus', 'Zuko']},
  {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]}

In [7]:
asjson = json.dumps(result)
asjson

'{"name": "Wes", "places_lived": ["United States", "Spain", "Germany"], "pet": null, "siblings": [{"name": "Scott", "age": 30, "pets": ["Zesus", "Zuko"]}, {"name": "Katie", "age": 38, "pets": ["Sixes", "Stache", "Cisco"]}]}'

In [37]:
siblings = pd.DataFrame(result['siblings'], columns=['name', 'age'])
siblings

    name  age
0  Scott   30
1  Katie   38

In [38]:
result

{'name': 'Wes',
 'places_lived': ['United States', 'Spain', 'Germany'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 30, 'pets': ['Zesus', 'Zuko']},
  {'name': 'Katie', 'age': 38, 'pets': ['Sixes', 'Stache', 'Cisco']}]}

In [39]:
data = pd.read_json('C:/Users/seven/OneDrive/바탕 화면/Python Workspace/Python-master/Python for Data analysis/examples/example.json')
data

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [118]:
pip install lxml

Requirement already satisfied: lxml in c:\programdata\anaconda3\lib\site-packages (4.6.1)Note: you may need to restart the kernel to use updated packages.

In [119]:
pip install beautifulsoup4 html5lib

Requirement already satisfied: beautifulsoup4 in c:\programdata\anaconda3\lib\site-packages (4.9.3)
Requirement already satisfied: html5lib in c:\programdata\anaconda3\lib\site-packages (1.1)
Requirement already satisfied: soupsieve>1.2; python_version >= "3.0" in c:\programdata\anaconda3\lib\site-packages (from beautifulsoup4) (2.0.1)
Requirement already satisfied: six>=1.9 in c:\programdata\anaconda3\lib\site-packages (from html5lib) (1.15.0)
Requirement already satisfied: webencodings in c:\programdata\anaconda3\lib\site-packages (from html5lib) (0.5.1)
Note: you may need to restart the kernel to use updated packages.

In [8]:
tables = pd.read_html("C:/Users/seven/OneDrive/바탕 화면/Python Workspace/Python-master/Python for Data analysis/examples/fdic_failed_bank_list.html")
len(tables)

1

In [9]:
failures = tables[0]
failures.head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Allied Bank,Mulberry,AR,91,Today's Bank,"September 23, 2016","November 17, 2016"
1,The Woodbury Banking Company,Woodbury,GA,11297,United Bank,"August 19, 2016","November 17, 2016"
2,First CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,"May 6, 2016","September 6, 2016"
3,Trust Company Bank,Memphis,TN,9956,The Bank of Fayette County,"April 29, 2016","September 6, 2016"
4,North Milwaukee State Bank,Milwaukee,WI,20364,First-Citizens Bank & Trust Company,"March 11, 2016","June 16, 2016"

In [10]:
close_timestamps = pd.to_datetime(failures['Closing Date'])
close_timestamps.dt.year.value_counts()

2010    157
2009    140
2011     92
2012     51
2008     25
2013     24
2014     18
2002     11
2015      8
2016      5
2004      4
2001      4
2007      3
2003      3
2000      2
Name: Closing Date, dtype: int64

In [15]:
close_timestamps

0     2016-09-23
1     2016-08-19
2     2016-05-06
3     2016-04-29
4     2016-03-11
         ...
542   2001-07-27
543   2001-05-03
544   2001-02-02
545   2000-12-14
546   2000-10-13
Name: Closing Date, Length: 547, dtype: datetime64[ns]

In [16]:
close_timestamps.dt.year

0      2016
1      2016
2      2016
3      2016
4      2016
       ...
542    2001
543    2001
544    2001
545    2000
546    2000
Name: Closing Date, Length: 547, dtype: int64

In [17]:
from lxml import objectify
path = 'C:/Users/seven/OneDrive/바탕 화면/Python Workspace/Python-master/Python for Data analysis/datasets/mta_perf/Performance_MNR.xml'
parsed = objectify.parse(open(path))
root = parsed.getroot()

In [124]:
data = [] 
skip_fields = ['PARENT_SEQ', 'INDICATOR_SEQ',
                'DESINRED_CHANGE','DECIMAL_PLACES']
for elt in root.INDICATOR:
    el_data = {}
    for child in elt.getchildren():
        if child.tag in skip_fields:
            continue
        el_data[child.tag] = child.pyval
    data.append(el_data)

In [18]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [19]:
frame = pd.read_csv('C:/Users/seven/OneDrive/바탕 화면/Python Workspace/Python-master/Python for Data analysis/examples/ex1.csv')
frame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [20]:
frame.to_pickle('C:/Users/seven/OneDrive/바탕 화면/Python Workspace/Python-master/Python for Data analysis/examples/frame_pickle')

In [46]:
pd.read_pickle('C:/Users/seven/OneDrive/바탕 화면/Python Workspace/Python-master/Python for Data analysis/examples/frame_pickle')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [21]:
frame = pd.DataFrame({'a' : np.random.randn(100)})
store = pd.HDFStore('mydata.h5') #HDFstore => Series나 DataFrame 객체를 간단히 저장할 수 있는 고수준 인터페이스 제공
store['obj1'] = frame
store['obj1_col'] = frame['a']
store
#HDF5란? 대량의 과학 계산용 배열 데이터를 저장하기 위해 고안된 바이너리 형식의 파일 포맷
#Hierachical Data Format

<class 'pandas.io.pytables.HDFStore'>
File path: mydata.h5

In [23]:
store

<class 'pandas.io.pytables.HDFStore'>
File path: mydata.h5

In [22]:
frame

           a
0   1.459959
1  -0.672928
2  -1.381591
3   0.139015
4   0.984851
..       ...
95  0.068774
96 -0.845532
97  0.058702
98  0.777461
99 -0.960932

[100 rows x 1 columns]

In [48]:
store['obj1']

           a
0   0.953651
1  -0.654134
2   0.005362
3  -2.276869
4   0.181952
..       ...
95  0.821779
96  0.624071
97  1.210064
98 -1.495613
99  0.488926

[100 rows x 1 columns]

In [9]:
store.put('obj2', frame, format = 'table')
store.select('obj2', where = ['index >= 10 and index <= 15'])

           a
10 -0.201104
11 -0.507625
12 -1.001513
13 -1.304049
14 -1.092374
15 -0.661398

In [10]:
frame.to_hdf('mydata.h5', 'obj3', format = 'table')
pd.read_hdf('mydata.h5', 'obj3', where=['index < 5'])

ValueError: The file 'mydata.h5' is already opened, but not in read-only mode (as requested).

In [11]:
xlsx = pd.ExcelFile('C:/Users/seven/OneDrive/바탕 화면/Python Workspace/Python-master/Python for Data analysis/examples/ex1.xlsx')
pd.read_excel(xlsx, 'Sheet1')

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [12]:
frame = pd.read_excel('C:/Users/seven/OneDrive/바탕 화면/Python Workspace/Python-master/Python for Data analysis/examples/ex1.xlsx', 'Sheet1')
frame

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [17]:
writer = pd.ExcelFile('C:/Users/seven/OneDrive/바탕 화면/Python Workspace/Python-master/Python for Data analysis/examples/ex2.xlsx')
frame.to_excel(writer, 'Sheet1')
writer.save()

FileNotFoundError: [Errno 2] No such file or directory: 'C:/Users/seven/OneDrive/바탕 화면/Python Workspace/Python-master/Python for Data analysis/examples/ex2.xlsx'