In [23]:
#1.

#number은 종목번호에 대한 리스트이고, 
#name은 종목명과 주가 정보가 튜플형태로 되어있는 리스트입니다

number = ['005930', '035720', '000660','035420']
name = [('삼성',70000), ('카카오',140000), ('SK하이닉스',100000), ('네이버',430000)]

stock_dic= dict(zip(number,name))

1-1.  number, name 리스트를 사용하여  딕셔너리 만들어보기(zip함수 사용!)

이와 같이 출력되어야 합니다!

{'005930': ('삼성', 70000), '035720': ('카카오', 140000), '000660': ('SK하이닉스', 100000), '035420': ('네이버', 430000)}

In [24]:
stock_dic

{'005930': ('삼성', 70000),
 '035720': ('카카오', 140000),
 '000660': ('SK하이닉스', 100000),
 '035420': ('네이버', 430000)}

1-2. 1-1에서 만든 딕셔너리를 이용하여 enummerate 사용해보기(for , items() 사용!)

#이와 같이 출력되어야 합니다!

0 005930 ('삼성', 70000)
1 035720 ('카카오', 140000)
2 000660 ('SK하이닉스', 100000)
3 035420 ('네이버', 430000)

In [25]:
for index,(name,value) in enumerate(stock_dic.items()):
    print(index,name,value)

0 005930 ('삼성', 70000)
1 035720 ('카카오', 140000)
2 000660 ('SK하이닉스', 100000)
3 035420 ('네이버', 430000)

1-3.  listcomprehension 사용해보기
1-2에서 만든 enummerate문을 이용하여 딕셔너리의 인덱스가 짝수번째인 value만 출력(for, enummerate, items(), if 사용!)

In [26]:
#이와 같이 출력되어야 합니다!
[('삼성', 70000), ('SK하이닉스', 100000)]

[('삼성', 70000), ('SK하이닉스', 100000)]

In [30]:
b=[]
for index,(name,value) in enumerate(stock_dic.items()):
    if(index % 2)==0:
        b+=value
b

['삼성', 70000, 'SK하이닉스', 100000]

#이와 같이 출력되어야 합니다!
[('삼성', 70000), ('SK하이닉스', 100000)]

#Quiz 2

list comprehension과 큐(queue)를 활용한 solution함수를 만들어 봅시다!

인쇄 요청이 들어온 순서대로 인쇄하는 일반적인 프린터와 다르게, 중요도가 높은 문서를 먼저 인쇄하는 프린터가 개발됐습니다. 이 프린터는 아래와 같은 방식으로 인쇄 작업을 수행합니다.

1. 인쇄 대기목록의 가장 앞에 있는 문서(J)를 대기목록에서 꺼냅니다.
2. 나머지 인쇄 대기목록에서 J보다 중요도가 높은 문서가 한 개라도 존재하면 J를 대기목록의 가장 마지막에 넣습니다.
3. 그렇지 않으면 J를 인쇄합니다.

예를 들어, 4개의 문서(A, B, C, D)가 순서대로 인쇄 대기목록에 있고 중요도가 2 1 3 2 라면 C D A B 순으로 인쇄하게 됩니다.

**현재 대기목록에 있는 문서의 중요도가 순서대로 담긴 배열 priorities와 내가 인쇄를 요청한 문서가 현재 대기목록의 어떤 위치에 있는지를 알려주는 location이 매개변수로 주어질 때, 내가 인쇄를 요청한 문서가 몇 번째로 인쇄되는지 return 하도록 solution 함수를 작성해주세요**.

- 현재 대기목록에는 1개 이상 100개 이하의 문서가 있습니다.
- 인쇄 작업의 중요도는 1~9로 표현하며 숫자가 클수록 중요하다는 뜻입니다.
- location은 0 이상 (현재 대기목록에 있는 작업 수 - 1) 이하의 값을 가지며 대기목록의 가장 앞에 있으면 0, 두 번째에 있으면 1로 표현합니다.

#예시1
priorities = [2, 1, 3, 2]
location = 2

solution(priorities, location)
#output
1

#예시2
priorities = [1, 1, 9, 1, 1, 1]
location = 0

solution(priorities, location)
#output
5

In [33]:
from collections import deque

In [34]:
def solution(priorities, location):
    answer = 0
    for i in range(length(priorities))
        if max(priorities)>priorities[0]:


    return answer

SyntaxError: invalid syntax (CreatorTemp/ipykernel_18572/2097705641.py, line 3)

서브프라임 당시의 kospi  최대 손실 낙폭(MDD) 구하기
- 최대 손실 낙폭(MDD) :특정 기간 동안 최대한 얼마의 손실이 날 수 있는지를 판단하는 지표

In [1]:
import FinanceDataReader as fdr
import pandas as pd

# KOSPI지수 데이터 가져오기 (2004년 ~ 2020년)
kospi_df = fdr.DataReader('KS11', '2004-01-04', '2020-12-31')
kospi_df.head()

             Close    Open    High     Low       Volume  Change
Date
2004-01-05  824.10  817.28  825.43  816.55  408260000.0  0.0035
2004-01-06  823.43  831.26  831.26  819.53  484060000.0 -0.0008
2004-01-07  827.07  826.08  831.07  825.23  404560000.0  0.0044
2004-01-08  824.15  831.10  839.28  824.15  428760000.0 -0.0035
2004-01-09  845.27  835.42  849.50  835.05  543290000.0  0.0256

In [3]:
# 1년기간 동안 최고치 구하기 (1년 동안의 개장일을 252일로 가정)
peak = kospi_df['Close'].rolling(window=252, min_periods=1).max()

# 최고치 대비 현재 kospi 종가의 하락정도
drawdown = kospi_df['Close']/peak - 1.0

# 최대손실 낙폭
max_drawdown = drawdown.rolling(window=252, min_periods=1).min()
max_drawdown

Date
2004-01-05    0.000000
2004-01-06   -0.000813
2004-01-07   -0.000813
2004-01-08   -0.003531
2004-01-09   -0.003531
                ...
2020-12-23   -0.357089
2020-12-24   -0.357089
2020-12-28   -0.357089
2020-12-29   -0.357089
2020-12-30   -0.357089
Name: Close, Length: 4206, dtype: float64

3-1. MDD와 MDD를 기록한 기간을 구해주세요.

In [4]:
MDD_min = max_drawdown.min
max_drawdown[max_drawdown==MDD_min()]

Date
2008-10-24   -0.545366
2008-10-27   -0.545366
2008-10-28   -0.545366
2008-10-29   -0.545366
2008-10-30   -0.545366
                ...
2009-10-16   -0.545366
2009-10-19   -0.545366
2009-10-20   -0.545366
2009-10-21   -0.545366
2009-10-22   -0.545366
Name: Close, Length: 252, dtype: float64

3-2. enumerate를 활용하여 아래 규칙에 맞게 데이터를 넣어주세요.

MDD를 기록한 기간에는 1, 그렇지 않으면 0을 kospi_df 데이터프레임의 'max_drawdown' 컬럼에  넣어주세요.

In [6]:
# kospi_df 데이터프레임에 'max_drawdown'컬럼을 추가한 후 진행
kospi_df['max_drawdown'] = max_drawdown
col = len(kospi_df.columns) - 1
col

6

In [11]:
for i,v in enumerate(kospi_df['max_drawdown']):
      if v == MDD_min: 
         kospi_df['max_drawdown'][i]=1
      else: 
         kospi_df['max_drawdown'][i]=0

kospi_df['max_drawdown']==1

Date
2004-01-05    0.0
2004-01-06    0.0
2004-01-07    0.0
2004-01-08    0.0
2004-01-09    0.0
             ...
2020-12-23    0.0
2020-12-24    0.0
2020-12-28    0.0
2020-12-29    0.0
2020-12-30    0.0
Name: max_drawdown, Length: 4206, dtype: float64